body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

button:disabled {
  background-color: #ccc;     /* cinza claro */
  color: #666;                /* cinza escuro no texto */
  cursor: not-allowed;        /* ícone de bloqueado */
  opacity: 0.7;               /* aparência "apagada" */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.jogadores-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.jogador {
    padding: 15px 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    min-width: 100px;
    text-align: center;
}